<br><br>
<div id="sub2srs_img">{{Image}}</div>
<div id="usage_header">
	<span class="play">{{Sentence-1-Audio}}</span>
	{{furigana:Sentence-1-Reading}}
</div>

<div id="usage">
	{{#Sentence-1-Meaning}}
		<span class="tab-small">↳</span>
		{{Sentence-1-Meaning}}
		<hr>
	{{/Sentence-1-Meaning}}

	<div class=vocab>
	{{#Vocabulary-Reading}}
		{{furigana:Vocabulary-Reading}}
	{{/Vocabulary-Reading}}
	{{^Vocabulary-Reading}}
		{{furigana:Vocabulary}}
	{{/Vocabulary-Reading}}
	→
	{{Meaning}}

	<span id="page"><br>{{Tags}}<br>
		{{Notes}}
		{{#Pos}}
			<div class=wordtype>--〔{{Pos}}〕</div>
		{{/Pos}}
	</span>
	<div class="clear-both"></div>
</div>
