{{FrontSide}}
	{{furigana:Sentence-1-Reading}}
</div>

{{#Image}}

{{/Image}}

<div id="usage">
	<div class='meaning'>
		{{^Image}}<span class="tab-small">↳</span>{{/Image}}
		{{Sentence-1-Meaning}}

		<hr>

		{{#Vocabulary-Reading}}
			{{furigana:Vocabulary-Reading}}
		{{/Vocabulary-Reading}}
		{{^Vocabulary-Reading}}
			{{furigana:Vocabulary}}
		{{/Vocabulary-Reading}}
		→
		{{Meaning}}
	</div>
	<br>

	<div class="tags">
		{{Tags}}
		<br>{{Notes}}
	</div>

	<div class="clear-both"></div>
</div>
